@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f0f2f5;
}

.bo-nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.nav__items {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 1px;
  transition: 0.2s;
}

.nav__items:hover {
  color: #1473e6;
}

.active {
  color: #1473e6;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  margin-left: 8px;
}

.nav__items:hover > .arrow {
  border-top: 5px solid #1473e6;
}

.active > .arrow {
  border-top: 5px solid #1473e6;
}

.dropdown-content {
  display: block;
  position: absolute;
  top: 6.5rem;
  background-color: #ffffff;
  border: solid 0.7px rgb(214, 214, 214);
  max-width: 10rem;
  width: 10rem;
  border-radius: 6.5px;
  z-index: 1000;
}
